footer {
  background-color: #d14b72;
  color: white;
  padding: 50px 8%;
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

footer h2,
footer h3 {
  margin-bottom: 15px;
}

footer p {
  color: #ccc;
  line-height: 1.6;
}